<div class="container-fluid bg">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center">
            <div class="d-flex row1 p-4 justify-content-end align-items-center mb-5">
                <div class="row me-4">
                    <h2 class="text-end">منظمة التطوير المجتمعى</h2>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <p>القاهرة، مصر</p>
                            <i class="bi bi-geo-alt-fill"></i>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <p>تم انشائها منذ يناير 2023</p>
                            <i class="bi bi-calendar-month-fill"></i>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <p>sara.ahmedemail.com</p>
                            <i class="bi bi-envelope-fill"></i>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <p>+20 123 456 7890</p>
                            <i class="bi bi-telephone-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="/public/assets/review.jpg" alt="" class="img">
                </div>
            </div>
            <div class="row  mb-5 justify-content-between align-items-center px-5">
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert d-flex justify-content-center align-items-center">
                        <i class="bi bi-bank2 fs-3"></i>
                    </div>
                    <div>
                        <p>إجمالي المنظمات</p>
                        <span class="ms-5 fs-2 crtN"></span>
                    </div>
                </div>
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert3 d-flex justify-content-center align-items-center">
                        <i class="bi bi-clock-fill fs-3"></i>
                    </div>
                    <div>
                        <p>قيد المراجعة</p>
                        <span class="ms-5 fs-2 crtN3"></span>
                    </div>
                </div>
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert2 d-flex justify-content-center align-items-center">
                        <i class="bi bi-x-lg fs-3"></i>
                    </div>
                    <div>
                        <p class="ms-4">مرفوضة</p>
                        <span class="ms-5 fs-2 crtN2"></span>
                    </div>
                </div>
            </div>
            <div class="row py-4 border rounded mt-4 bgT">
            </div>
        </div>
    </div>
</div>