.cert {
    width: 24%;
    margin: 1px;
    height: 114px;
    background-color: #FFFFFF;
    z-index: 1;
    border-radius: 17px;
    box-shadow: 0px 5px 0px 0px rgba(17, 16, 16, 0.16);
}
.cert1{
        border-left: #9333EA solid 4px;
}
.cert2{
        border-left: #E9A1F0 solid 4px;
}
.cert3{
        border-right: #A1A6F0 solid 4px;
}
.cert4{
        border-right: #9333EA solid 4px;
}
.smallCert {
    width: 44px;
    height: 44px;
    border-radius: 9999px;
    background-color: #E5E7EB;
    color: #9333EA;
}

.smallCert2 {
    width: 44px;
    height: 44px;
    border-radius: 9999px;
    background-color: #A1A6F01A;
    color: #A1A6F0;
}

.smallCert3 {
    width: 44px;
    height: 44px;
    border-radius: 9999px;
    background-color: #E9A1F01A;
    color: #E9A1F0;
}



.bgT {
    background-color: #FFFFFF;
}

.img {
    width: 128px;
    height: 128px;
    border-radius: 70px;
    border: #9333EA solid 3px;
}

.row1 {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.bg {
    background-color: #FDF2F8;
}
.crtN{
    color: #9333EA;
}
.crtN3{
    color: #E9A1F0;
}
.crtN2{
    color: #A1A6F0;
}
.small1{
    width: 60px;
    height: 60px;
    background-color: #9333EA;
    color: #FFFFFF;
    border-radius: 30px;
}
.small2{
    width: 60px;
    height: 60px;
    background-color: #A1A6F0;
    color: #FFFFFF;
    border-radius: 30px;
}


