<nav id="sidebarMenu" class="d-lg-block sidebar bg-white text-end">
    <div class="position-sticky">
        <div class="list-group list-group-flush  padd">
            <a class="list-group-item list-group-item-action  ripple" aria-current="true"
                [routerLink]="['/admin-dashboard/']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>الرئيسيه</span><i class="bi bi-graph-up fw-bold ms-2"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/admin-dashboard/managment-volunteers']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>ادارة المتطوعين</span> <i class="fa-solid fa-people-group ms-2"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/admin-dashboard/managment-organization']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>ادارة المنظمات</span><i class="bi bi-bank2 ms-2"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/admin-dashboard/managment-teams']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>ادارة الفرق التطوعية</span><i class="bi bi-people-fill ms-2"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/admin-dashboard/review-opp']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>مراجعة الفرص</span><i class="bi bi-bag-check-fill ms-2"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple mb-3"
                [routerLink]="['/admin-dashboard/review-rating']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>مراجعة التقييمات</span><i class="bi bi-star-fill ms-2"></i>
            </a>
        </div>
    </div>
</nav>