<div class="card shadow-sm rounded-4 p-3">
  <div class="d-flex align-items-center">
    <img src="/images/{{therapist.profilePictureUrl}}.jpg" class="rounded-circle me-3" alt="Profile" style="width: 80px; height: 80px;">
    <div>
      <h6 class="mb-1 fw-bold">{{therapist.fullName}}</h6>
      <a href="#" class="text-primary small text-decoration-none">Psychologist</a>
      <div>
        <span class="text-warning fw-bold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
        <small class="text-muted ms-1">4.85 (443 Reviews)</small>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <small class="text-muted">Interests:</small>
    <div class="mt-1">
      @for(item of therapist.specializations ; track item)
      {
      <span class="badge bg-success-subtle text-success me-1">{{item}}</span>
      <!-- <span class="badge bg-success-subtle text-success">Depression</span> -->
      }
    </div>
  </div>

  <div class="mt-3">
    <div class="text-muted small">
      <i class="bi bi-calendar-event text-primary"></i>
      Nearest appointment: Saturday, May 31 at 11:00 PM
    </div>
    <div class="text-muted small mt-1">
      <i class="bi bi-cash-stack text-primary"></i>
      <span class="text-primary ps-1">{{therapist.pricePerSession}}</span> / 60 Min &nbsp;&nbsp; <span
        class="text-primary">{{therapist.pricePerSession}} - 390 EGP</span> /
      30 Min
    </div>
  </div>

  <div class="row justify-content-center align-items-center mt-3 ms-2">
    <div class="col-4 mt-3">
      <a class="text-success small text-decoration-none" [routerLink]="['/user/TherapistDetails', therapist.id]">
        View Profile
      </a>
    </div>
    <div class="col-7">
      <a class="btn btn-primary mt-3" [routerLink]="['/user/Booking',therapist.id]">
        <i class="fa-solid fa-calendar-check"></i> Book a Session
      </a>
    </div>
  </div>
</div>