<h1 class="text-center m-5 fw-bold">Get Matched With A Therapist</h1>
<div class="row justify-content-center align-items-center">
    <div class="card p-3 w-75">
        <h4 class="text-center m-4">What is the therapist gender that you prefer?</h4>
        <!-- <button class="btn btn-outline-primary  p-2 m-2" (click)="selectedGender = 'male'">male</button>
        <button class="btn btn-outline-primary  p-2 m-2" (click)="selectedGender = 'female'">female</button> -->
        <!-- <div>{{selectedGender}}</div>
        <div>{{selectedSpecialization}}</div> -->
        <div class="btn btn-outline-primary p-2 m-2" [class.active]="selectedGender === 'male'"
            (click)="selectedGender = 'male'">
            Male
        </div>

        <div class="btn btn-outline-primary p-2 m-2" [class.active]="selectedGender === 'female'"
            (click)="selectedGender = 'female'">
            Female
        </div>

        <div class="row justify-content-between">
            <div class="col-3">
                <button class="btn btn-outline-secondary m-4 py-2 px-4"
                    [routerLink]="['/user/FindATherapist']">Previous</button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary m-4 py-2 px-4"
                    [routerLink]="['/user/FindATherapist/step3',selectedSpecialization,selectedGender]">Next</button>
            </div>
        </div>
    </div>
</div>