<div class="container-fluid bg">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center">
            <div class="row  mb-5 justify-content-between align-items-center px-5">
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert d-flex justify-content-center align-items-center">
                        <i class="bi bi-check-lg fs-3"></i>
                    </div>
                    <div>
                        <p class="ms-5">منشورة</p>
                        <span class="ms-5 fs-2 crtN">234</span>
                    </div>
                </div>
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert3 d-flex justify-content-center align-items-center">
                        <i class="bi bi-clock-fill fs-3"></i>
                    </div>
                    <div>
                        <p>قيد المراجعة</p>
                        <span class="ms-5 fs-2 crtN3">40</span>
                    </div>
                </div>
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert2 d-flex justify-content-center align-items-center">
                        <i class="bi bi-x-lg fs-3"></i>
                    </div>
                    <div>
                        <p class="ms-4">مرفوضة</p>
                        <span class="ms-5 fs-2 crtN2">20</span>
                    </div>
                </div>
            </div>
            <div class="row row1 p-4 justify-content-around align-items-center">
                <button class="btn btn-bgColor w p-2 mt-5">بحث</button>
                <div class="form-group text-end w-25 mt-3">
                    <label for="city" class="mb-2">المدينة</label>
                    <input list="cities" name="city" id="city" class="py-2 form-control text-end"
                        placeholder="اختر اسم المدينه">
                    <datalist id="cities">
                        <option value="المنيا">
                    </datalist>
                </div>
                <div class="form-group text-end w-25 mt-3">
                    <label for="status" class="mb-2">الحالة</label>
                    <input list="statuss" name="status" id="status" class="py-2 form-control text-end"
                        placeholder="اختر الحاله">
                    <datalist id="statuss">
                        <option value="حاله1">
                    </datalist>
                </div>
                <div class="form-group w-25 mt-5">
                    <input type="email" class="form-control py-2 text-end" id="exampleInput1"
                        aria-describedby="emailHelp" placeholder="البحث عن منظمات">
                </div>
            </div>
            <div class="row py-4 border rounded mt-4 bgT">
                <h4 class="text-end">الفرص قيد المراجعة</h4>
            </div>
            <div class="row ">
                <table class="fancy-table mt-5">
                    <thead>
                        <tr class="border rounded py-3">
                            <th>الاجراءات</th>
                            <th>تاريخ الاضافة</th>
                            <th>المنظمة</th>
                            <th>الحالة</th>
                            <th>اسم الفرصة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <i class="bi bi-x-lg me-2 t fs-5 text-danger"></i>
                                    <i class="bi bi-check-lg  me-2 t fs-5 te1"></i>
                                    <i class="bi bi-pencil-square  me-2 t fs-5 te2"></i>
                                    <i class="bi bi-eye-fill me-2 main-color fs-5"></i>
                                </div>
                            </td>
                            <td class="col-2">
                                <span >15 ديسمبر 2024</span>
                            </td>
                            <td class="col-3">مؤسسة التعليم للجميع</td>
                            <td>
                                <span class="status">فيد المراجعة</span>
                            </td>
                            <td>
                                <div class="row justify-content-center align-items-center">
                                    <h5>مساعدة كبار السن</h5>
                                    <small class="text-muted">رعاية وخدمة المسنين</small>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>