
.smallDiv{
    background-color: #A1A6F0;
    color: #FFFFFF;
    width: 46px;
    height: 46px;
    border-radius: 10px;
}
.smallDiv:hover{
    cursor: pointer;
}

.imgSmall{
    width: 38px;
    height: 38px;
    border-radius: 9999px;
   margin-left: -7px;
    /* border: 1px solid #FFFFFF; */
    
}
.smallDivImg{
    background-color: #E5E7EB;
    color: #4B5563;
      width: 38px;
    height: 38px;
    border-radius: 9999px;
    font-weight: bold;
}
.smallDivImg:hover{
    cursor: pointer;
}
.cr:hover{
    transform: scale(1.1);
}
i:hover{
    cursor: pointer;
}