<div class="container-fluid bg">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center">
            <div class="row  mb-5 justify-content-between align-items-center px-5">
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert d-flex justify-content-center align-items-center">
                        <i class="bi bi-bank2 fs-3"></i>
                    </div>
                    <div>
                        <p>إجمالي المنظمات</p>
                        <span class="ms-5 fs-2 crtN">{{OrganizationStatistics.totalOrganizations}}</span>
                    </div>
                </div>
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert3 d-flex justify-content-center align-items-center">
                        <i class="bi bi-clock-fill fs-3"></i>
                    </div>
                    <div>
                        <p>قيد المراجعة</p>
                        <span class="ms-5 fs-2 crtN3">{{OrganizationStatistics?.pendingOrganizations}}</span>
                    </div>
                </div>
                <div class="cert d-flex justify-content-around align-items-center px-3">
                    <div class="col-3 smallCert2 d-flex justify-content-center align-items-center">
                        <i class="bi bi-x-lg fs-3"></i>
                    </div>
                    <div>
                        <p class="ms-4">مرفوضة</p>
                        <span class="ms-5 fs-2 crtN2">{{OrganizationStatistics?.rejectedOrganizations}}</span>
                    </div>
                </div>
            </div>
            <div class="row row1 p-4 justify-content-end align-items-center">
                <!-- <button class="btn btn-bgColor w p-2 mt-5">بحث</button> -->
                <div class="form-group text-end w-25 mt-3">
                    <label for="city" class="mb-2">المدينة</label>
                    <input list="cities" name="city" id="city" class="py-2 form-control text-end"
                        placeholder="اكتب اسم المدينه" [(ngModel)]="serchCity" (change)="searchByCity()">
                </div>
                <div class="form-group text-end w-25 mt-3">
                    <label for="status" class="mb-2">الحالة</label>
                    <input list="statuss" name="status" id="status" class="py-2 form-control text-end"
                        placeholder="اختر الحاله" [(ngModel)]="serchStatus" (change)="searchByStatus()">
                    <datalist id="statuss">
                        <option value="Pending">
                        <option value="Rejected">
                        <option value="Approved">
                    </datalist>
                </div>
                <div class="form-group w-25 mt-5">
                    <input type="email" class="form-control py-2 text-end" id="exampleInput1"
                        aria-describedby="emailHelp" placeholder="البحث عن منظمات" [(ngModel)]="serchName"
                        (change)="searchByName()">
                </div>
            </div>
            <div class="row py-4 border rounded mt-4 bgT">
                <h4 class="text-end">قائمة المنظمات</h4>
            </div>
            <div class="row ">
                <table class="fancy-table mt-5">
                    <thead>
                        <tr class="border rounded py-3">
                            <th>الاجراءات</th>
                            <th>عدد الفرص</th>
                            <th>عدد الفرق</th>
                            <th>الحالة</th>
                            <th>المدينة</th>
                            <th>المنظمة</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (org of pagedOpps; track $index) {
                            
                        <tr>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <i class="bi bi-check-lg  me-2 t fs-4 te2" (click)="approveOrg(org.id)"></i>
                                    <i class="bi bi-ban me-2 t fs-5 te1" (click)="banOrganization(org.id)"></i>
                                    <i class="bi bi-trash-fill me-2 t fs-5" (click)="deleteOrganization(org.id)"></i>
                                    <i class="bi bi-eye-fill me-2 main-color fs-5" [routerLink]="['/admin-dashboard/organization-profile',org.id]"></i>
                                </div>
                            </td>
                            <td>
                                <span>{{org.opportunitiesCount}}</span>
                            </td>
                            <td>
                                <span>{{org.teamsCount}}</span>
                            </td>
                            <td class="col-2">
                                <span class="status">{{org.status}}</span>
                            </td>
                            <td>{{org.city}}</td>
                            <td class="col-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="me-2">
                                        <h5>{{org.name}}</h5><small class="text-muted">{{org.email}}</small>
                                    </div>
                                    <img [src]="'https://tatawwa3.runasp.net/uploads/ProfileImages/' + org.profileImage" alt="" class="imgSponser">
                                </div>
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>

            </div>
            <div class="row mb-5 mt-3">
                <nav class=" p-2">
                    <ul class="pagination">

                        <!-- Previous -->
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link main-color" (click)="goToPage(currentPage - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Dynamic Page Numbers -->
                        @for (page of [].constructor(totalPages); track $index) {
                        <li class="page-item" [class.active]="currentPage === $index + 1">
                            <a class="page-link main-color" (click)="goToPage($index + 1)">
                                {{ $index + 1 }}
                            </a>
                        </li>
                        }


                        <!-- Next -->
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link main-color" (click)="goToPage(currentPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>