.custom-footer {
  background-color: #2d333b;
  color: #ffffff;
  padding: 40px 100px 20px;
  font-family: 'Segoe UI', sans-serif;
  
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-left {
  flex: 1 1 300px;
}

.footer-logo-text {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo {
  height: 90px;
}

.tagline {
  font-style: italic;
  font-size: 14px;
  color: #cccccc;
}

.footer-description {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.trust-icons img {
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.footer-columns {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  flex: 2 1 600px;
}

.footer-col h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #bbbbbb;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #bbb;
  margin-right: 10px;
  font-size: 18px;
}

.social-icons a:hover {
  color: #ffffff;
}

.join-box .join-btn {
  border: 1px solid #ccc;
  padding: 8px 16px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: 0.3s;
}

.join-btn:hover {
  background-color: #ffffff;
  color: #2d333b;
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.support-btn {
  background-color: #0d6efd;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.support-btn:hover {
  background-color: #004cc2;
}
