<div class="container-fluid bg">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center">
            <h3 class="text-end ms-5 mb-5">استعرض الفرض التى شاركت فيها وحمل شهاداتك</h3>
            <div class="row  mb-5 justify-content-between align-items-center">
                <div class="cert col-4 d-flex justify-content-around align-items-center">
                    <div class="col-3 smallCert d-flex justify-content-center align-items-center">
                        <i class="bi bi-patch-check-fill"></i>
                    </div>
                    <div>
                        <p>الشهادات المتاحة</p>
                        <span class="ms-5 fs-2 crtN">{{StatisticsAttendenceList.totalCertificates}}</span>
                    </div>
                </div>
                <div class="cert col-4 d-flex justify-content-around align-items-center">
                    <div class="col-3 smallCert3 d-flex justify-content-around align-items-center">
                        <i class="bi bi-clock-fill"></i>
                    </div>
                    <div>
                        <p>اجمالى الساعات</p>
                        <span class="ms-5 fs-2 crtN3">{{StatisticsAttendenceList.totalHours}}</span>
                    </div>
                </div>
                <div class="cert col-4 d-flex justify-content-around align-items-center">
                    <div class="col-3 smallCert2 d-flex justify-content-center align-items-center">
                        <i class="bi bi-bag-fill"></i>
                    </div>
                    <div>
                        <p>اجمالى الفرص</p>
                        <span class="ms-5 fs-2 crtN2">{{StatisticsAttendenceList.totalOpportunities}}</span>
                    </div>
                </div>
            </div>
            <div class="card  px-4">
                <h4 class=" row justify-content-center align-items-center mb-3 h4B ms-5 me-5">قائمة الفرص التطوعية التي
                    شاركت فيها</h4>
                <div class="row justify-content-center align-items-center mb-5">
                    @if(volunteerAttendenceOpportuintiesList.length == 0)
                    {
                    <h1 class="text-center text-danger">لم تشارك في اي فرص حتي الان</h1>
                    }
                    @else {
                    @if(volunteerAttendenceOpportuintiesList.length > 3)
                    {
                    <app-opp-card-join-voluteer class="col-10 mb-1"
                        [volAttendence]="volunteerAttendenceOpportuintiesList[0]"></app-opp-card-join-voluteer>
                    <app-opp-card-join-voluteer class="col-10 mb-1"
                        [volAttendence]="volunteerAttendenceOpportuintiesList[1]"></app-opp-card-join-voluteer>
                    <app-opp-card-join-voluteer class="col-10 mb-1"
                        [volAttendence]="volunteerAttendenceOpportuintiesList[2]"></app-opp-card-join-voluteer>
                    @if(allAtt){
                    @for (atteOpp of volunteerAttendenceOpportuintiesList.slice(3); track $index) {
                    <app-opp-card-join-voluteer class="col-10 mb-1" [volAttendence]="atteOpp">
                    </app-opp-card-join-voluteer>
                    }
                    }
                    }
                    @else {
                    @for (atteOpp of volunteerAttendenceOpportuintiesList; track $index) {
                    <app-opp-card-join-voluteer class="col-10 mb-1"
                        [volAttendence]="atteOpp"></app-opp-card-join-voluteer>
                    }
                    }
                    }
                </div>
            </div>
            @if(volunteerAttendenceOpportuintiesList.length > 3 && allAtt == false)
            {
            <div class="row justify-content-center align-items-center">
                <button class="btn btnAll mt-3 mb-5" (click)="displayAllAtt()">عرض الكل</button>
            </div>
            }
            <div class="row mt-5 mb-3 justify-content-center align-items-center">
                <h4 class="h4A row justify-content-center align-items-center ">شهادات التطوع المتاحة للتحميل</h4>
                <div class="row justify-content-center align-items-center">
                    @if(volunteerCertificationsList.length == 0)
                    {
                    <h1 class="text-center text-danger"> لم تشارك في اي فرص حتي الان لذالك لا يوجد شهادات</h1>
                    }
                    @else {
                    @if(volunteerCertificationsList.length > 3)
                    {
                    <app-certification-card-voluteer class="col-5 me-5 mt-5"
                        [volCertification]="volunteerCertificationsList[0]"></app-certification-card-voluteer>
                    <app-certification-card-voluteer class="col-5 me-5 mt-5"
                        [volCertification]="volunteerCertificationsList[1]"></app-certification-card-voluteer>
                    <app-certification-card-voluteer class="col-5 me-5 mt-5"
                        [volCertification]="volunteerCertificationsList[2]"></app-certification-card-voluteer>

                    @if(allCert){
                    @for (volCert of volunteerCertificationsList.slice(3); track $index) {
                    <app-certification-card-voluteer class="col-5 me-5 mt-5"
                        [volCertification]="volCert"></app-certification-card-voluteer>
                    }
                    }
                    }
                    @else {
                    @for (volCert of volunteerCertificationsList; track $index) {
                    <app-certification-card-voluteer class="col-5 me-5 mt-5"
                        [volCertification]="volCert"></app-certification-card-voluteer>
                    }}
                    }

                </div>
                @if(volunteerCertificationsList.length > 3 && allCert == false)
                {
                <div class="row justify-content-center align-items-center mt-5">
                    <button class="btn btnAll mt-3 mb-5" (click)="displayAllCert()">عرض الكل</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>