.bgColor{
    background-color: #DC2626;
    color: white;
    width: 180px;
    padding: 10px;
    border-radius: 15px;   
}

.s4{
  background-color: #FEE2E2;
    width: 30px;
  height: 30px;
  border-radius: 17px;
  color: #DC2626;
}
.co{
    color: #DC2626;
}
.bgco{
  background-color: #FEF2F2;
  color: #DC2626;
  border-radius: 13px;
}
.card{
          z-index: 1;
  border-radius: 15px !important;
}

.bg {
  background-color: #686A8666;
}

/* .displayNone{
  display: none;
}
.displayTrue{
   display: block;
}
.cardDis{
  z-index:9999;
  background-color: #06109266;
  width: 300px;
  height: 130px;
  border-radius: 20px;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  position: absolute;
  top: 0px;
  left: 500px;
  
} */