<div class="oppCard mt-4 p-3 d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <p class="me-4 mt-2"> ساعات تطوعية 8</p>
        <div class="divStatus2 d-flex justify-content-center align-items-center">حاضر</div>
    </div>
    <div class="row flex-column justify-content-end align-items-end">
        <h5>مساعدة كبار السن</h5>
        <p class="mt-1 text-muted">دار الرعاية الاجتماعية</p>
        <span class="text-muted"> مارس 2025 15</span>
    </div>
</div>