<div class="oppCard mt-3 p-4">
  <div class="d-flex justify-content-between align-items-center">

    <div class="d-flex justify-content-center align-items-center" [ngClass]="{
  'divStatus1': volunteerOpp.status === 'تم قبولك',
  'divStatus2': volunteerOpp.status === 'مرفوض',
  'divStatus3': volunteerOpp.status === 'قيد المراجعة'
}">
        {{volunteerOpp.status}}</div>
            <div class="d-flex flex-column justify-content-center align-items-end">
        <h5>{{volunteerOpp.opportunityTitle}}</h5>
        <p>{{volunteerOpp.organizationName}}</p>
        <span>تاريخ التقديم {{volunteerOpp.applicationDate | date:"dd-mm-yyyy"}}</span>
    </div>
  </div>
</div>