<div class="container-fluid main-bg ">
    <div class="container">
        <h3 class="text-end mt-5">فرص التطوع المتاحة</h3>
        <h4 class="text-end mb-5 mt-3 text-muted">اكتشف فرص التطوع في مدينتك وانضم إلى المجتمع</h4>
    </div>
    <div class="container section1">
        <div class="row justify-content-end align-items-center py-5">
            <div class="col-2">
                <div class="dropdown py-3">
                    <button class="btn main-color btn-border dropdown-toggle py-2 px-4 bg-white" type="button"
                        data-bs-toggle="dropdown">
                        اختار المدينه
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">القاهرة</a></li>
                        <li><a class="dropdown-item" href="#">المنيا</a></li>
                        <li><a class="dropdown-item" href="#">اسيوط</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown py-3">
                    <button class="btn main-color btn-border dropdown-toggle py-2 px-4 bg-white" type="button"
                        data-bs-toggle="dropdown">
                        اختار المجال
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">مجال1</a></li>
                        <li><a class="dropdown-item" href="#">مجال1</a></li>
                        <li><a class="dropdown-item" href="#">مجال1</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group mb-3 py-3" style="max-width: 300px;">
                    <input type="text" class="form-control text-end py-2 section1" placeholder="ابحث عن الفرص التطوعية"
                        aria-label="Search">
                    <span class="input-group-text main-color text-white">
                        <i class="fas fa-search"></i>
                    </span>
                </div>

            </div>
        </div>
    </div>

    <div class="container mt-5">
        <p class="mb-2">تم العثور على 24 فرصة تطوعية</p>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            @if(noOpportunities == false)
            {
            @for (opp of opportunitiesFilterList; track $index) {
            <app-home-card class="col-4 mb-5 bg-white" [Opportunity]="opp"></app-home-card>
            }

            }@else {
            <h1 class="text-center text-danger">لا يوجد فرص ف الوقت الحالي</h1>
            }
        </div>
        <div class="d-flex justify-content-center align-items-center mb-5">
            <nav class="mb-5 p-2">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link main-color" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item"><a class="page-link main-color" href="#">8</a></li>
                    <li class="page-item disabled"><span class="page-link main-color">...</span></li>
                    <li class="page-item"><a class="page-link main-color" href="#">3</a></li>
                    <li class="page-item"><a class="page-link main-color" href="#">2</a></li>

                    <li class="page-item active" aria-current="page">
                        <span class="page-link main-color">1</span>
                    </li>

                    <li class="page-item">
                        <a class="page-link main-color" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>