<div class="container-fluid bg">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center">
            <h3 class="text-end me-5 mb-5 mt-2">تابع اخر التحديثات والانشطة</h3>
            <div class="row justify-content-center align-items-center">
                <div class="oppCard mt-3 py-2 row justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center col-2">
                        <div class="cir me-3"></div>
                        <span>منذ 5 دقائق</span>
                    </div>
                    <div class="row justify-content-end align-items-center px-4 col-10">
                        <div class="col-5 text-end mt-3">
                            <h5 class="mb-2">انضمام متطوع جديد</h5>
                            <p>انضم أحمد محمد إلى فرصة "حملة توزيع الطعام الخيرية"</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center smallDiv mb-5">
                            <i class="bi bi-person-fill-add fs-4"></i>
                        </div>
                    </div>
                </div>
                <div class="oppCard mt-3 py-2 row justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center col-2">
                        <div class="cir me-3"></div>
                        <span>منذ 5 دقائق</span>
                    </div>
                    <div class="row justify-content-end align-items-center px-4 col-10">
                        <div class="col-5 text-end mt-3">
                            <h5 class="mb-2">تم رفض الدعوة</h5>
                            <p>رفض عمر خالد دعوتك للمشاركة في "حملة التشجير"</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center smallDiv2 mb-5">
                            <i class="bi bi-sign-no-left-turn-fill fs-4"></i>
                        </div>
                    </div>
                </div>
                <div class="oppCard mt-3 py-2 row justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center col-2">
                        <div class="cir me-3"></div>
                        <span>منذ 5 دقائق</span>
                    </div>
                    <div class="row justify-content-end align-items-center px-4 col-10">
                        <div class="col-5 text-end mt-3">
                            <h5 class="mb-2"> تم قبول الدعوة</h5>
                            <p>قبلت سارة أحمد دعوتك للمشاركة في "برنامج محو الأمية"</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center smallDiv3 mb-5">
                            <i class="bi bi-sign-turn-left-fill fs-4"></i>
                        </div>
                    </div>
                </div>
                <div class="oppCard mt-3 py-2 row justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center col-2">
                        <div class="cir me-3"></div>
                        <span>منذ 5 دقائق</span>
                    </div>
                    <div class="row justify-content-end align-items-center px-4 col-10">
                        <div class="col-5 text-end mt-3">
                            <h5 class="mb-2">تقييم جديد</h5>
                            <p>تلقيت تقييم 5 نجوم من محمد علي على فرصة "دورة تدريبية للأطفال"</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center smallDiv4 mb-5">
                            <i class="bi bi-person-fill-add fs-4"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>