.therapist-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.slot-btn {
  border: 1px solid #000;
  color: #000;
  padding: 6px 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slot-btn.selected {
  background-color: #198754;
  color: white;
  border-color: #198754;
}

.slot-btn.booked {
  color: red;
  text-decoration: line-through;
  cursor: not-allowed;
  border-color: red;
}

.slot-btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}
