<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Pending Therapists</h5>
        </div>
        <div class="card-body p-0">
            <table class="table table-bordered table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Specialization</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (therapist of therapists; track $index) {
                    <tr>
                        <td>{{ therapist.name }}</td>
                        <td>{{ therapist.email }}</td>
                        <td>{{ therapist.specialization }}</td>
                        <td>
                            <a class="btn btn-sm btn-info me-1" [routerLink]="['/therapists', therapist.id]">Details</a>

                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>