<nav id="sidebarMenu" class="d-lg-block sidebar bg-white text-end">
    <div>
        <div class="list-group list-group-flush padd">
            <a class="list-group-item list-group-item-action  ripple" aria-current="true"
                [routerLink]="['/organization-dashboard/organization-home']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span class="me-3">الرئيسيه</span><i class="bi bi-graph-up fw-bold"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/organization-dashboard/managment-opp']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>ادارة الفرص</span><i class="bi bi-briefcase-fill  ms-3"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/organization-dashboard/organization-teams']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span> ادارةالفرق</span><i class="bi bi-people-fill ms-3"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/organization-dashboard/organization-invitations']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>الدعوات</span><i class="bi bi-envelope-fill ms-3"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/organization-dashboard/organization-certifications']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>الشهادات</span><i class="bi bi-award-fill ms-3"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/organization-dashboard/organization-notifications']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>الاشعارات</span><i class="bi bi-bell-fill ms-3"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/organization-dashboard/add-opp']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>نشر فرصة جديدة</span><i class="bi bi-bag-plus-fill ms-3"></i>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple"
                [routerLink]="['/organization-dashboard/create-team']" [routerLinkActive]="'bgActive'"
                [routerLinkActiveOptions]="{ exact: true }">
                <span>اضافة فريق جديد</span>
                <i class="bi bi-people-fill ms-2"></i>
                <i class="bi bi-plus-circle-fill"></i>
            </a>
            <ul class="nav flex-column mb-5">
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="nav-link fw-bold d-flex align-items-center justify-content-center"
                            data-bs-toggle="collapse" href="#homeSubmenu" role="button" aria-expanded="true"
                            aria-controls="homeSubmenu">
                            <i class="bi bi-chevron-down ms-4 c"></i>
                            <span class="c sizeT ms-2">الإعدادات</span>
                        </a>
                        <a>
                            <i class="bi bi-gear-fill me-3 c"></i>
                        </a>
                    </div>

                    <div class="collapse show mt-3" id="homeSubmenu">
                        <ul class="nav flex-column submenu pe-2">
                            <li class="nav-item d-flex align-items-center justify-content-end px-2"
                                [routerLink]="['/organization-dashboard/organization-info']"
                                [routerLinkActive]="'bgActiveSetting'" [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link text-dark">بيانات المنظمة</a>
                                <div class="s d-flex align-items-center justify-content-center text-center">
                                    <i class="bi bi-buildings-fill"></i>
                                </div>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-end px-2"
                                [routerLink]="['/organization-dashboard/organization-change-pass']"
                                [routerLinkActive]="'bgActiveSetting'" [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link text-dark">تغيير كلمة المرور</a>
                                <div class="s2 d-flex align-items-center justify-content-center text-center">
                                    <i class="bi bi-key-fill"></i>
                                </div>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-end px-2"
                                [routerLink]="['/organization-dashboard/organization-check-notfication']"
                                [routerLinkActive]="'bgActiveSetting'" [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link text-dark">تفعيلات الاشعارات</a>
                                <div class="s3 d-flex align-items-center justify-content-center text-center">
                                    <i class="bi bi-bell-fill"></i>
                                </div>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-end mb-5 px-2"
                                [routerLink]="['/organization-dashboard/organization-delete-acount']"
                                [routerLinkActive]="'bgActiveSetting'" [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link text-dark">حذف الحساب</a>
                                <div class="s4 d-flex align-items-center justify-content-center text-center">
                                    <i class="bi bi-trash3-fill "></i>
                                </div>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</nav>