.btn-login{
   border-color: var(--btn-color);
}
.mar{
    margin-right: 5rem;
}
.marl{
    margin-left: 5rem;
}
li:hover{
      cursor: pointer;
}
.btn-color{
   font-weight: bold;
}
/* .active{
    color: #9333EA !important;
} */