section{
  background-color: #F9FAFB;
}
span a{
  color: #9333EA;
}
.circle{
  width: 80px;
  height: 80px;
  background-color: #A1A6F0;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 10px;
}
.btn{
  color: white;
  background-color:#9333EA ;
  font-weight: bold;
  border-radius: 12px;
  width: 90%;
  height: 48px;
  padding: 3px 132px;
  border: none;
}
hr{
  color: #6c757d;
  width: 180px;
}
.w-40{
  width: 40%;
}
.w-90{
  width: 90%;
}
.fs-8{
  font-size: small;
}
