<section class="container-fluid p-5">
  <form class="rounded-4 shadow-lg py-4 px-1 m-5 w-40 m-auto bg-white" >
  <div class="d-flex flex-column align-items-center mb-4">
    <div class="circle">
      <i class="fa-solid fa-lock"></i>
    </div>
    <p class="fs-4"> كلمة مرور جديدة</p>
    <p class="w-50 text-center text-muted">يرجى إدخال كلمة مرور جديدة لحسابك، وتأكيدها في الحقل الثاني.</p>

      <div class="w-90">
        <label for="password" class="form-label my-3">  كلمة المرور الجديدة </label>
        <input class="form-control p-2 rounded-3 text-end" type="password" name="password" id="password" placeholder="كلمة المرور الجديدة ">

        <p class="text-muted fs-8 mt-2"> يفضل أن تحتوي على رقم وحرف كبير –8 أحرف على الأقل </p>

        <label for="rePassword" class="form-label my-2">  تأكيد كلمة المرور  </label>
        <input class="form-control p-2 rounded-3 text-end" type="password" name="rePassword" id="rePassword" placeholder="اعد إدخال كلمة المرور">

      </div>
<div class="text-center w-100">
  <button type="submit" class="btn mt-3"  [routerLink]="[ '/login' ]"> تعيين كلمة المرور </button>
</div>

<!-- <a class="d-flex align-items-center gap-2 mt-2" [routerLink]="[ '/login' ]">
  <p class="text-muted mt-2">الرجوع لتسجيل الدخول</p>
  <i class="fa-solid fa-arrow-right fs-4 text-muted opacity-50"></i>
</a> -->


   </div>
  </form>
</section>
