<section class="container-fluid p-5">
  <form [formGroup]="resetForm" class="rounded-4 shadow-lg py-4 px-1 m-5 w-40 m-auto bg-white" (ngSubmit)="Send()">
  <div class="d-flex flex-column align-items-center mb-4">
    <div class="circle">
      <i class="fa-solid fa-lock"></i>
    </div>
    <p class="fs-4"> كلمة مرور جديدة</p>
    <p class="w-50 text-center text-muted">يرجى إدخال كلمة مرور جديدة لحسابك، وتأكيدها في الحقل الثاني.</p>

      <div class="w-90">
        <label for="email" class="form-label my-3">البريد الالكتروني</label>
          <input formControlName="email" class="form-control p-2 rounded-3 text-end" type="email" name="email" id="email" placeholder="example@email.com">
          @if(resetForm.get('email')?.errors && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched))
          {
            <div class="text-danger">
              @if(resetForm.get('email')?.getError('required'))
              {
                <p>يرجي ادخال البريد الالكتروني </p>
              }
              @else if(resetForm.get('email')?.getError('email'))
              {
                <p> يرجي ادخال بريد الكتروني صالح</p>
              }
          </div>
          }
        <label for="newPassword" class="form-label my-3">  كلمة المرور الجديدة </label>
        <input formControlName="newPassword" class="form-control p-2 rounded-3 text-end" type="password" name="newPassword" id="newPassword" placeholder="كلمة المرور الجديدة ">
          @if(resetForm.get('newPassword')?.errors && (resetForm.get('newPassword')?.dirty || resetForm.get('newPassword')?.touched))
          {
            <div class="text-danger px-3">
              @if(resetForm.get('newPassword')?.getError('required'))
              {
                <p>يرجي ادخال كلمة مرور </p>
              }
              @else if(resetForm.get('newPassword')?.hasError('pattern'))
              {
                <p>يرجي ادخال قوية تحتوي علي حروف كبيرة وصغيرة وارقام ورموز</p>
              }
            </div>
          }

        <p class="text-muted fs-8 mt-2"> يفضل أن تحتوي على رقم وحرف كبير –8 أحرف على الأقل </p>

        <label for="confirmPassword" class="form-label my-2">  تأكيد كلمة المرور  </label>
        <input formControlName="confirmPassword" class="form-control p-2 rounded-3 text-end" type="password" name="confirmPassword" id="confirmPassword" placeholder="اعد إدخال كلمة المرور">
          @if(resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.getError('required'))
                    {
                    <span class="text-danger mt-1">يرجي تاكيد كلمة المرور </span>
                    }@else if(resetForm.errors?.['passwordmatch']){
                    <span class="text-danger mt-1">يجب تطابق تأكيد كلمة المرور مع كلمة المرور</span>
                    }
      </div>
<div class="text-center w-100">
  <button type="submit" class="btn mt-3"> تعيين كلمة المرور </button>
</div>


   </div>
  </form>
</section>
