<div id="divReview" class="bg-white">
    <div class="row justify-content-end align-items-center">
        <div class="col-6 text-end">
            <span>سارة أحمد</span>
            <p>متطوعة في التعليم</p>
        </div>
        <img src="/assets/review.jpg" alt="" id="imgReview" class="col-3">
    </div>
    <p class="text-end">تجربة رائعة مع بصمة! تمكنت من تعليم الأطفال وتطوير مهاراتي في نفس الوقت. المنصة سهلة
        الاستخدام
        والفرص متنوعة</p>
    <div class="text-end">
        <i class="bi bi-star me-2"></i>
        <i class="bi bi-star me-2"></i>
        <i class="bi bi-star me-2"></i>
        <i class="bi bi-star me-2"></i>
        <i class="bi bi-star me-2"></i>
    </div>
</div>