<div class="container-fluid section">
    <div class="row justify-content-center align-items-center p-5">
        <img src="/assets/logoR.png" alt="" class="marl mt-5">
        <h1 class="text-center mb-3 mt-2">انضم الى عائلة بصمة</h1>
        <p class="text-center text-muted">انضم إلى منصة بصمة كمنظمة تطوعية</p>
        <div class="card rCard d-flex align-items-center justify-content-end mt-1 mb-5 col-lg-7 col-sm-10 bg-white">
            <div class="m-2">
                <p class="mt-3 text-end">اسم المنظمة</p>
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search..." class="py-4">
                </div>
            </div>
            <div class="m-2">
                <p class="mt-3 text-end">اسم المنظمة</p>
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search..." class="py-4">
                </div>
            </div>
            <div class="m-2">
                <p class="mt-3 text-end">اسم المنظمة</p>
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search..." class="py-4">
                </div>
            </div>
            <div class="m-2">
                <p class="mt-3 text-end">اسم المنظمة</p>
                <div class="dropdown">
                    <button class="btn border dropdown-toggle py-2 px-4 text-end" type="button" data-bs-toggle="dropdown">
                        اختار المدينه
                    </button>
                    <ul class="dropdown-menu text-end">
                        <li><a class="dropdown-item" href="#">القاهرة</a></li>
                        <li><a class="dropdown-item" href="#">المنيا</a></li>
                        <li><a class="dropdown-item" href="#">اسيوط</a></li>
                    </ul>
                </div>
            </div>
            <div class="m-2">
                <p class="mt-3 text-end">اسم المنظمة</p>
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search..." class="py-4">
                </div>
            </div>
            <div class="m-2">
                <p class="mt-3 text-end">اسم المنظمة</p>
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search..." class="py-4">
                </div>
            </div>
            <div class="m-2">
                <p class="mt-3 text-end">اسم المنظمة</p>
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search..." class="py-4">
                </div>
            </div>
        </div>
    </div>
</div>