<h1 class="text-center m-5 fw-bold">Get Matched With A Therapist</h1>
<div class="row justify-content-center align-items-center">
    <div class="card p-3 w-75">
        <h4 class="text-center m-4">What is your budget for psychotherapy?</h4>
        <input type="range" id="myRange" min="0" max="1000" value="50"
            oninput="this.nextElementSibling.value = this.value" [(ngModel)]="selectedPrice">
        <output>{{selectedPrice}}</output>
        <div class="row justify-content-between">
            <div class="col-3">
                <button class="btn btn-outline-secondary m-4 py-2 px-4"
                    [routerLink]="['/user/FindATherapist/step2']">Previous</button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary m-4 py-2 px-4" [routerLink]="['/user/FindATherapist/step4',selectedSpecialization,selectedGender,selectedPrice]">Next</button>
            </div>
        </div>
    </div>
</div>