<div class="container-fluid bg">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center">
            <h3 class="text-end mb-3 mt-4">الفرق التطوعية</h3>
            <p class="text-end mb-5">ادارة وتنظيم الفرق التطوعية فى المنظمة</p>
            <div class="row justify-content-around align-items-center">
                @for (team of pagedOpps; track $index) {
                <div class="cr col-5 p-4 mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="bi bi-trash-fill text-danger me-2" (click)="deleteTeam(team.id)"></i>
                            <i class="bi bi-pencil-square co2" [routerLink]="['/edit-team',team.id]"></i>
                        </div>
                        <h5>{{team.name}}</h5>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mb-2">
                        <span>متطوع</span>
                        <span class="ms-1"> {{team.membersCount}}</span>
                        <i class="fa-solid fa-people-group ms-2 co"></i>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mb-2">
                        <span> {{team.creationDate | date : 'MMM d, y'}} : تم الانشاء</span>
                        <i class="bi bi-calendar-day-fill ms-2 co"></i>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mb-2">
                        <p> : أعضاء الفريق</p>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mb-4">
                        @if(team.membersCount > 2)
                        {
                        <div class="smallDivImg d-flex justify-content-start align-items-center"
                            [routerLink]="['/organization-dashboard/team-members',team.id]">
                            <i class="bi bi-plus"></i>
                            <span>{{team.membersCount - 2}}</span>
                        </div>
                        <app-org-team-card [teamId]="team.id" [falg]="false"></app-org-team-card>
                        }@else if(team.membersCount <= 2 && team.membersCount !=0) { <app-org-team-card
                            [teamId]="team.id"></app-org-team-card>
                            }
                            @else {
                            <p class="text-muted text-end">لا يوجد اي اعضاء ف الفريق حتي الان</p>
                            }
                    </div>
                    <div class="d-flex justify-content-around align-items-center mb-2">
                        <!-- <div class="smallDiv justify-content-center align-items-center d-flex">
                            <i class="bi bi-person-plus-fill fs-4"
                                [routerLink]="['/organization-dashboard/organization-invitations']"></i>
                        </div> -->
                        <button class="btn btn1 p-2 w-100" [routerLink]="['/team-details',team.id]">عرض الفريق</button>
                    </div>
                </div>
                <!-- <app-org-team-card class="col-5" [team]="team"></app-org-team-card> -->
                }
            </div>
            <div class="row mb-5 mt-3">
                <nav class=" p-2">
                    <ul class="pagination">

                        <!-- Previous -->
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link main-color" (click)="goToPage(currentPage - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Dynamic Page Numbers -->
                        @for (page of [].constructor(totalPages); track $index) {
                        <li class="page-item" [class.active]="currentPage === $index + 1">
                            <a class="page-link main-color" (click)="goToPage($index + 1)">
                                {{ $index + 1 }}
                            </a>
                        </li>
                        }


                        <!-- Next -->
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link main-color" (click)="goToPage(currentPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>