section{
  background-color: #111827;
  color: #D1D5DB;
  padding: 44px 90px;
  gap: 126px;
  line-height: 32px;
  /* font-family: 'Cairo', sans-serif; */
  text-align: right;
}
a{
  text-decoration: none;
  color: #D1D5DB;
}
h5, .social{
  color: var(--btn-color);
}
.social{
  font-size: larger;
}
