<section class="d-flex justify-content-evenly text-center container-fluid">
  <div>
    <h5>تواصل معنا</h5>
    <ul>
      <li> <a href="#">basma&#64;gmail.com </a><i class="fa-solid fa-envelope"></i></li>
      <li> <a href="#">+20 101 234 5678 </a><i class="fa-solid fa-phone"></i> </li>
      <li> <span>القاهرة، جمهورية مصر العربية </span><i class="fa-solid fa-location-dot"></i> </li>
    </ul>
  </div>
  <div>
    <h5>روابط سريعة</h5>
    <ul>
      <li><a class="nav-link" [routerLink]="['/routePath']"> من نحن </a></li>
      <li><a class="nav-link" [routerLink]="['/routePath']">الفرق</a></li>
      <li><a class="nav-link" [routerLink]="['/routePath']">الفرص</a></li>
      <li><a class="nav-link" [routerLink]="['/routePath']">الرئيسية</a></li>
    </ul>
  </div>
  <div>
    <div class="d-flex justify-content-center align-items-center">
      <img src="assets/logo.png">
    </div>
    <p>منصة العمل التطوعي الرائدة في مصر<br> لربط المتطوعين والمنظمات</p>
    <div class="d-flex justify-content-center align-items-center gap-4">
      <a href="#"><i class="fa-brands fa-facebook social"></i></a>
      <a href="#"><i class="fa-brands fa-instagram social"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in social"></i></a>
    </div>
  </div>

</section>