<section class="p-5">
  <div class="p-4 rounded-3 div-bg">
  <div class="d-flex justify-content-between align-items-center">
    <div class="text-center ms-5">
      <p>اجمالى المتطوعين المسجلين</p>
      <p class="perple">{{participants.length}}</p>
    </div>
    <div>
      <h4><span>فرصة التطوع:  </span>{{opp.title}}</h4>
      <div class="d-flex align-items-center justify-content-end gap-2 mt-3">
      <p>{{opp.endDate | date : 'short'}} | {{opp.startDate | date:'short'}} </p>
      <i class="fa-solid fa-calendar-days"></i>
      </div>
    </div>
  </div>
  </div>

  <h4 class="bg-white rounded-3 my-5 text-center py-2">قائمة المتطوعين</h4>

  <div class="px-5">
    <div class="row text-center mb-4">
      <div class="col-3">الساعات المعتمدة</div>
      <div class="col-4">حالة الحضور</div>
      <div class="col-5">المتطوع</div>
    </div>
    @for (person of pagedParticipants; track $index) {
  <div class="row justify-content-between align-items-center bg-white text-center rounded-3 py-2 px-2">

    <div class="col-3">
      <input class="brd-color text-center me-4 w-50 py-1 rounded-2" [value]="person.approvedHours"
      [(ngModel)]="person.approvedHours">
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-center">

        <div class="d-flex flex-row-reverse gap-2 text-black rounded p-2">
          <input type="radio"
                 class="form-check-input"
                 [value]="'Absent'"
                 [(ngModel)]="person.attendanceStatus"
                 name="attendanceStatus-{{ $index }}"
                 id="absent-{{ $index }}"> 
          <label class="form-check-label" for="absent-{{ $index }}">لم يحضر</label>
        </div>

        <div class="d-flex flex-row-reverse gap-2 text-black rounded p-2">
          <input type="radio"
                 class="form-check-input"
                 [value]="'Present'"
                 [(ngModel)]="person.attendanceStatus"
                 name="attendanceStatus-{{ $index }}"
                 id="present-{{ $index }}">
          <label class="form-check-label" for="present-{{ $index }}">حضر</label>
        </div>

      </div>
    </div>

    <div class="col-5">
      <div class="d-flex align-items-center gap-5 justify-content-end">
        <div class="text-center">
          <p class="mb-2">{{ person.fullName }}</p>
          <p>{{ person.email }}</p>
        </div>
        <img [src]="" alt="img">
      </div>
    </div>

    <hr class="mt-4 w-97 m-auto">
  </div>
}


  </div>

  <div class="d-flex justify-content-start ps-4 align-items-center mt-5">
            <nav class="p-2">
                    <ul class="pagination">

                        <!-- Previous -->
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link main-color" (click)="goToPage(currentPage - 1)"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Dynamic Page Numbers -->
                        @for (page of [].constructor(totalPages); track $index) {
                        <li class="page-item" [class.active]="currentPage === $index + 1">
                            <a class="page-link main-color"  (click)="goToPage($index + 1)">
                                {{ $index + 1 }}
                            </a>
                        </li>
                        }


                        <!-- Next -->
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link main-color" (click)="goToPage(currentPage + 1)"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>

        </div>

  <div class="d-flex justify-content-between mt-3">
  <div class="d-flex gap-2">

  <button [disabled]="isLoading" type="submit" class="btn" (click)="update()">
    @if(isLoading)
    {
      <span><i class="fas fa-spin fa-spinner"></i></span>
    }
    حفظ الحضور  <i class="fa-solid fa-floppy-disk"></i> </button><br>
  <button [routerLink]="[`/organization-dashboard/managment-opp`]"  class="btn-cancel">  الغاء </button><br>
</div>
<div class="d-flex gap-2">
    <button class="btn-excel" (click)="excel()"> Excel تصدير  <i class="bi bi-file-earmark-excel-fill"></i></button>
    <button class="btn-pdf" (click)="pdf()"> PDF تصدير  <i class="bi bi-filetype-pdf"></i></button>
    </div>
</div>

</section>
