<div class="container p-5">
  <div class="card shadow-lg p-4">
    <div class="row align-items-center">
      <div class="col-md-4 text-center">
        <img src="/images/{{selectedTherapist.profilePictureUrl}}.jpg" class="img-fluid rounded border border-primary"
          alt="Profile Picture" style="
    width: 300px; 
    height: 250px; 
    object-fit: fill; 
    border-radius: 10px;
    image-rendering: auto;
  ">
        <h3 class="mt-2">{{selectedTherapist.name}}</h3>
        @for (spe of selectedTherapist.specialization; track $index) {
        <p class="text-muted m-1">{{spe}}</p>
        }
        <div class="mt-2">
          <span class="badge bg-primary"><i class="fa-solid fa-star"></i> 4.8 (120 Reviews)</span>
        </div>
      </div>

      <div class="col-md-7 mt-3 ms-2">
        <h4 class="mb-3"><i class="fa-solid fa-user-doctor text-primary"></i> About</h4>
        <p>{{selectedTherapist.bio}}</p>

        <h5 class="mt-4"><i class="fa-solid fa-graduation-cap text-primary"></i> Qualifications</h5>
        <ul>
          @for (spe of selectedTherapist.specialization; track $index) {
          <li>PhD in {{spe}}</li>
          }
          <li>Number of License : {{selectedTherapist.licenseNumber}}</li>
          <li>Years of Experience : {{selectedTherapist.yearsOfExperience}}</li>
        </ul>

        <h5 class="mt-4"><i class="fa-solid fa-calendar-days text-primary"></i> Availability</h5>
        <p>Sunday - Thursday: 10:00 AM - 4:00 PM</p>

        <h5 class="mt-4"><i class="fa-solid fa-comments text-primary"></i> Communication Methods</h5>
        <p>Video Calls, Audio Calls, Text Chat</p>

        <a class="btn btn-primary mt-3" [routerLink]="['/user/Booking' , therapistId]">
          <i class="fa-solid fa-calendar-check"></i> Book a Session
        </a>
      </div>
    </div>
  </div>
</div>