<div class="oppCard mt-3">
    <div class="d-flex flex-column justify-content-center align-items-end">
        <div class="d-flex justify-content-center  align-items-center mb-3">
            <!-- {{volunteerOppRecommended.category}} -->
        </div>
        <h5>{{volunteerOppRecommended.title}}</h5>
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center me-4">
                <span class="me-1">{{volunteerOppRecommended.location}}</span>
                <i class="bi bi-geo-alt-fill"></i>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span class="me-2">{{volunteerOppRecommended.startDate | date:"dd-mm-yyyy"}} </span>
                <i class="bi bi-calendar2-month-fill"></i>
            </div>
        </div>
    </div>
    <div class="divdDtails d-flex justify-content-center align-items-center mt-4" [routerLink]="['/opportunity-details',volunteerOppRecommended.id]">التفاصيل</div>
</div>