<div class="container-fluid section1">
    <div class="row mb-4 justify-content-center align-items-center">
        <div class="col-lg-5 col-sm-12 m-4 text-center">
            <img src="/assets/pepole.png" alt="" id="imgPepole" class="mt-5 mb-5">
        </div>
        <div class="col-lg-5 col-sm-12 me-4 p4 text-end">
            <h1 class="me-2 main-color" id="h1">بصمتك</h1>
            <h1 id="h1">في المجتمع</h1>
            <h1>اترك</h1>
            <p class="text-muted mt-4">انضم إلى أكبر منصة تطوعية في المنطقة واكتشف فرص التطوع التي تناسب اهتماماتك
                ومهاراتك</p>
            <button class="btn me-4 mt-3 main-color btn-border bt"
                [routerLink]="['/voluntary_organization_register']">سجل منظمتك<i
                    class="bi bi-buildings mx-2"></i></button>
            <button class="btn  mt-3 text-light btn-bgcolor bt" [routerLink]="['/volunteer_register']">انضم كمتطوع<i
                    class="bi bi-person mx-2"></i></button>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div id="div1" class="row justify-content-center text-center">
            <div id="divSmall1" class="align-items-center d-flex">
                <i class="fas fa-handshake text-light fs-2"></i>
            </div>
            <span class="main-color fs-2">89,650</span>
            <p>فرصة تطوعية</p>
        </div>
        <div id="div2" class="row justify-content-center text-center">
            <div id="divSmall2" class="align-items-center d-flex">
                <i class="bi bi-clock text-light fs-2"></i>
            </div>
            <span style="color: #E9A1F0;" class="fs-2">89,650</span>
            <p>ساعة تطوعية</p>
        </div>
        <div id="div3" class="row justify-content-center text-center">
            <div id="divSmall3" class="align-items-center d-flex">
                <i class="bi bi-people fs-2 text-light"></i>
            </div>
            <span style="color: #A1A6F0;" class="fs-2 ">89,650</span>
            <p>متطوع نشط</p>
        </div>
    </div>
</div>
<div class="container-fluid section2 my-4 py-5 mb-5">
    <div class="row justify-content-center align-items-center text-center mx-5">
        <h1 class="mt-4">فرص تطوعية مميزة</h1>
        <h3 class="text-muted mt-3 mb-5">اكتشف أحدث الفرص التطوعية المتاحة</h3>
        @if(noOpportunities == false)
        {

        <app-home-card class="col-4" [Opportunity]="opportunitiesList[0]"></app-home-card>
        <app-home-card class="col-4" [Opportunity]="opportunitiesList[1]"></app-home-card>
        <app-home-card class="col-4" [Opportunity]="opportunitiesList[2]"></app-home-card>

        }@else {
        <h1 class="text-center text-danger">لا يوجد فرص ف الوقت الحالي</h1>
        }

    </div>
</div>
<div class="container-fluid my-4 py-4 mb-5">
    <div class="row justify-content-center align-items-center text-center mx-4">
        <h1 class="mt-4">كيف تعمل المنصة</h1>
        <h3 class="text-muted mt-3 mb-5">ثلاث خطوات بسيطة للبدء في رحلة التطوع</h3>
        <div class="row mx-5">
            <div class="col-4 row justify-content-center text-center p-4">
                <div id="divSmall1" class="m-3"><span class="text-light">3</span></div>
                <span class="m-3 fs-3">ابدأ التطوع</span>
                <p class="m-3 text-muted">انضم للفرصة وابدأ في ترك أثر إيجابي في مجتمعك</p>
            </div>
            <div class="col-4 row justify-content-center text-center p-4">
                <div id="divSmall2" class="m-3"><span class="text-light">2</span></div>
                <span class="m-3 fs-3">اختيار الفرصة</span>
                <p class="m-3 text-muted">صفح الفرص المتاحة واختر ما يناسب وقتك واهتماماتك </p>
            </div>
            <div class="col-4 row justify-content-center text-center p-4">
                <div id="divSmall3" class="m-3"><span class="text-light">1</span></div>
                <span class="m-3 fs-3">إنشاء حساب</span>
                <p class="m-3 text-muted">كسجل في المنصة وأنشئ ملفك الشخصي مع تحديد اهتماماتك ومهارات</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid section2 mt-4 p-4">
    <div class="row justify-content-center align-items-center mx-5 mb-4">
        <h1 class="mt-4 text-center"> قصص نجاح ملهمة</h1>
        <h3 class="text-muted mt-3 mb-5 text-center">اقرأ تجارب المتطوعين معنا</h3>
        <app-home-review-card class="col-4"></app-home-review-card>
        <app-home-review-card class="col-4"></app-home-review-card>
        <app-home-review-card class="col-4"></app-home-review-card>
    </div>
</div>