.selectable-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.selectable-card:hover {
  border-color: #007bff;
  background-color: #f0f8ff;
}
.selectable-card.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
.cl{
  border-color: #007bff;
}