<h1 class="text-center m-5 fw-bold">Get Matched With A Therapist</h1>
<div class="row justify-content-center align-items-center">
    <div class="card p-3 w-75 ">
        <h3 class="text-center m-3">What are the main issues for which you are currently searching for a solution?
        </h3>
        <h4 class="text-center mb-4">Select all that applies</h4>
        <div class="row justify-content-center align-items-center">
            @for (spe of SpecializationList; track $index) {
            <!-- <button class="btn btn-outline-primary m-2 col-3" (click)="selectedSpecialization = spe"
                [ngClass]="selectedSpecialization == spe ? 'btn-bg-info' : 'btn-bg-black'">
                {{spe}}
            </button> -->
            <div class="card text-center p-3 m-2 selectable-card col-3 cl" [class.selected]="selectedSpecialization === spe"
                (click)="selectedSpecialization = spe">
                {{ spe }}
            </div>

            }
        </div>
        <!-- <div>{{selectedSpecialization}}</div> -->
        <div class="row justify-content-between">
            <div class="col-3">
                <button class="btn btn-outline-secondary m-4 py-2 px-4"
                    [routerLink]="['/user/FindATherapist']">Previous</button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary m-4  py-2 px-4"
                    [routerLink]="['/user/FindATherapist/step2',selectedSpecialization]">Next</button>
            </div>
        </div>
    </div>
</div>