<nav class="sidebar bg-primary">
  <h2 class="logo">Admin Panel</h2>
  <ul class="nav-links">
    <li class="cursor-pointer" [routerLink]="'/admin/dashboard'" [routerLinkActive]="'fw-bold'">Dashboard</li>
    <li class="cursor-pointer" [routerLink]="'/admin/manage-booking'" [routerLinkActive]="'fw-bold'">Manage Bookings</li>
    <li class="cursor-pointer" [routerLink]="'/admin/manage-user'" [routerLinkActive]="'fw-bold'">Manage Users</li>
    <li class="cursor-pointer" [routerLink]="'/admin/manage-therapist'" [routerLinkActive]="'fw-bold'">Manage Therapists</li>
    <!-- Add more links as needed -->
  </ul>
</nav>
