<nav class="sidebar bg-primary">
  <h2 class="logo">Admin Panel</h2>
  <ul class="nav-links">
    <li class="cursor-pointer" [routerLink]="'/admin/dashboard'" routerLinkActive="active">Dashboard</li>
    <li class="cursor-pointer" [routerLink]="'/admin/manage-booking'" routerLinkActive="active">Manage Bookings</li>
    <li class="cursor-pointer" [routerLink]="'/admin/manage-user'" routerLinkActive="active">Manage Users</li>
    <li class="cursor-pointer" [routerLink]="'/admin/manage-therapist'" routerLinkActive="active">Manage Therapists</li>
    <!-- Add more links as needed -->
  </ul>
</nav>
