.dashboard-container {
  padding: 20px;
  font-family: 'Cairo', sans-serif;
  background-color: rgb(240, 240, 240);
  text-align: end;
}
.brd-color{
  border: 1px #D4D4D4 solid;
}
.icon-bg1, .icon-bg2, .icon-bg3{
  width: 60px;
  height: 55px;
}
.icon-bg1{
  background-color: #9333EA;
}
.icon-bg2{
  background-color: #E9A1F0;
}
.icon-bg3{
  background-color: #A1A6F0;
}
.perple{
  color: #9333EA;
}
.baby-blue{
  color: #A1A6F0;
}
.pink{
  color: pink;
}

.charts-row {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.chart-box {
  flex: 1 1 48%;
  background: #fff;
  padding: 50px;
  padding-top: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgb(212, 212, 212);
  height: 380px;
}
