<section class="p-5">
  <div class="p-4 rounded-3 div-bg">
    <h4><span>فرصة التطوع:  </span>  {{opp.title}}</h4>
    <div class="d-flex justify-content-end mt-3 gap-5">
      <div class="d-flex align-items-center justify-content-end gap-2">
      <p>{{opp.startDate | date : 'short'}}</p>
      <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
      <p>{{opp.location}}</p>
      <i class="bi bi-geo-alt-fill"></i>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
      <p> متقدم {{opp.volunteerCount}} </p>
      <i class="fa-solid fa-users"></i>
      </div>
    </div>
  </div>

<div class="row mt-4 g-3">
  <div class="col-3">
    <div class="bg-white rounded-3 py-4 d-flex justify-content-between align-items-center brd-color px-3">
      <div class="icon-bg1 d-flex align-items-center justify-content-center rounded-2">
        <i class="bi bi-shield-fill-x text-white fs-4"></i>
      </div>
      <div>
        <h6>مرفوض</h6>
        <h3 class="perple mb-0">{{statistic.rejected}}</h3>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="bg-white rounded-3 py-4 d-flex justify-content-between align-items-center brd-color px-3">
      <div class="icon-bg3 d-flex align-items-center justify-content-center rounded-2">
        <i class="bi bi-shield-fill-check text-white fs-4"></i>
      </div>
      <div>
        <h6>مقبول</h6>
        <h3 class="baby-blue mb-0">{{statistic.accepted}}</h3>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="bg-white rounded-3 py-4 d-flex justify-content-between align-items-center brd-color px-3">
      <div class="icon-bg2 d-flex align-items-center justify-content-center rounded-2">
        <i class="fa-solid fa-clock text-white fs-4"></i>
      </div>
      <div>
        <h6>قيد المراجعة</h6>
        <h3 class="pink mb-0">{{statistic.pending}}</h3>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="bg-white rounded-3 py-4 d-flex justify-content-between align-items-center brd-color px-3">
      <div class="icon-bg1 d-flex align-items-center justify-content-center rounded-2">
        <i class="fa-solid fa-users text-white fs-4"></i>
      </div>
      <div>
        <h6>إجمالي المتقدمين</h6>
        <h3 class="perple mb-0">{{statistic.total}}</h3>
      </div>
    </div>
  </div>
</div>

<div class="bg-white mt-4 p-4 rounded-3">
  <h5 class="mb-4">تصفية المتطوعين</h5>
  <div class="row g-5 align-items-end">
    <div class="col-3">
      <button class="mybtn">بحث</button>
    </div>
    <div class="col-3">
      <label class="form-label">الحالة</label>
      <select class="form-control" (change)="searchByState()" [(ngModel)]="state">
        <option value="Pending">متقدم</option>
        <option value="Accepted">مقبول</option>
        <option value="Rejected">مرفوض</option>
      </select>
    </div>
    <div class="col-3">
      <label class="form-label">تاريخ التقديم</label>
      <input [(ngModel)]="applyDate" (change)="searchByDate()" class="form-control" type="datetime-local">
    </div>
    <div class="col-3">
      <label class="form-label">اسم المتطوع</label>
      <input [(ngModel)]="volunteerName" (input)="searchByName()" class="form-control text-end" type="text" placeholder="ادخل اسم المتطوع">
    </div>
  </div>
</div>

<div class="brd-color p-5 bg-white mt-4 rounded-3 pb-2">
  <h5 class="mb-5">قائمة المتطوعين</h5>
  @for (volunteer of pagedVolunteers; track $index) {
    <div class="d-flex align-items-center justify-content-between brd-color rounded-3 px-4">
    <div class="d-flex align-items-center gap-3">
      @if (volunteer.status === 'Accepted') {
        <button class="btn btn-outline-success px-4">مقبول</button>
      }
      @else if (volunteer.status === 'Rejected') {
        <button class="btn btn-outline-danger px-4">مرفوض</button>
      }
      @else {
        <button (click)="reject(volunteer.id)" class="btn btn-danger px-4">رفض</button>
        <button (click)="accept(volunteer.id)" class="btn btn-success px-4">قبول</button>
      }
      <button [routerLink]="['/volProfile', volunteer.id]" class="btn-cancle">عرض الملف الشخصى</button>
    </div>
    <div class="d-flex align-items-center gap-2 p-3">
      <div class="text-end">
        <p class="mb-2">{{volunteer.fullName}}</p>
        <p>تاريخ التقديم: {{volunteer.appliedAt | date : 'short'}}</p>
      </div>
      <img [src]="'https://tatawwa3.runasp.net/uploads/ProfileImages/' + volunteer.profileImage" alt="" class="imgSponser">
    </div>
  </div>
  }

  <div class="d-flex justify-content-start align-items-center mt-4">
            <nav class="p-2">
                    <ul class="pagination">

                        <!-- Previous -->
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link main-color" (click)="goToPage(currentPage - 1)"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Dynamic Page Numbers -->
                        @for (page of [].constructor(totalPages); track $index) {
                        <li class="page-item" [class.active]="currentPage === $index + 1">
                            <a class="page-link main-color"  (click)="goToPage($index + 1)">
                                {{ $index + 1 }}
                            </a>
                        </li>
                        }


                        <!-- Next -->
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link main-color" (click)="goToPage(currentPage + 1)"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>

        </div>

</div>

</section>
