:root{
    --btn-color:#9333EA;
}
body {
  font-family: 'Cairo', sans-serif;
background-color: #ffffff !important;
}

.btn-color{
    color: var(--btn-color) !important;
}
.main-color{
    color: var(--btn-color) !important;
}
.btn-bgColor{
    background-color: var(--btn-color) !important;
}
ul{
    list-style: none;
}