<div class="container">
    <div  class="row mt-4">
                 <img [src]="'https://tatawwa3.runasp.net/uploads/' + Opportunity.image" alt="CardImage" id="divSection1">
    </div>
    <!-- <div [ngStyle]="backgroundImageStyle" id="divSection1" class="row  mt-4 justify-content-center align-items-center" >
    
    </div> -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12">
            <div class="row">
                <div class="card px-5 py-3 mt-5 orCard">
                    <h5 class="text-center mt-3">معلومات المنظمة</h5>
                    <div class="row justify-content-end align-items-center mt-3 mb-1">
                        <div class="col-7 text-end mt-4">
                            <p>{{Opportunity.organizationName}}</p>
                            <p>{{Opportunity.organizationType}}</p>
                        </div>
                        <!-- <img src="/assets/review.jpg" alt="" id="imgLogo"> -->
                        <img [src]="'https://tatawwa3.runasp.net/uploads/' + Opportunity.image" alt="" id="imgLogo">

                    </div>
                    <div class="d-flex justify-content-end ">
                        <p class="text-muted me-2 ">{{Opportunity.description}}</p>
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="d-flex justify-content-end ">
                        <p class="text-muted me-2">{{Opportunity.organizationEmail}}</p>
                        <i class="bi bi-envelope-at-fill"></i>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p class="text-muted me-2">{{Opportunity.organizationPhone}}</p>
                        <i class="bi bi-telephone-fill"></i>
                    </div>
                </div>
                <div class="card p-3 mt-4 br">
                    <div class="text-center mt-3 btn btn-bgcolor text-white mb-4">معلومات المنظمة</div>
                    <div class="d-flex justify-content-center">
                        <p class="text-muted me-2">{{Opportunity.volunteerCount}} متطوع مسجل</p>
                        <i class="bi bi-people"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="text-muted me-2">اخر موعد للتسجيل {{Opportunity.deadline | date : "dd/mm/yyyy"}}</p>
                        <i class="bi bi-clock"></i>
                    </div>

                </div>
                <button class="text-center mt-3 btn btn-bgcolor text-white mb-4" [routerLink]="['/join-opp',OpportunityId]">انضم الان</button>
            </div>

        </div>
        <div class="col-lg-8 mt-5 mb-5 col-sm-12">
            <div class="card text-end p-5">
                <h2 class="mt-5 mb-5">{{Opportunity.title}}</h2>
                <span class="fw-bold">الوصف</span>
                <p class="text-muted mt-3 mb-5">{{Opportunity.description}}</p>
                <div class="d-flex justify-content-end align-items-center">
                    <span class="me-3 fw-bold">المهارات المطلوبة</span>
                    <i class="bi bi-star-fill main-color fs-3"></i>
                </div>
                <div class="row justify-content-end mt-1 mb-4 px-4 py-2">
                    @if(Opportunity.requiredSkills.length == 0 )
                    {
                    <p>لا يوجد مهارات مطلوبة</p>
                    }@else{
                    @for (skill of Opportunity.requiredSkills; track $index) {
                    <div class="spe justify-content-center align-items-center row me-4 mb-1 main-color">التصميم</div>
                    }
                    }

              </div>
                <div class="row justify-content-end align-items-center mb-5">
                    <div class="div row  justify-content-end  align-items-center mb-3">
                        <div class="d-flex justify-content-end text-center  align-items-center" id="divM">
                            <p class="m-2">المدة</p>
                            <i class="bi bi-stopwatch-fill fs-4"></i>
                        </div>
                        <p class="text-muted">{{Opportunity.totalHours}} ساعات</p>
                    </div>
                    <div class="div row  justify-content-end  align-items-center mb-3">
                        <div class="d-flex justify-content-end text-center  align-items-center" id="divM">
                            <p class="m-2">الموقع</p>
                            <i class="bi bi-geo-alt-fil fs-4"></i>
                        </div>
                        <p class="text-muted">{{Opportunity.location}}</p>
                    </div>

                    <div class="div row  justify-content-end  align-items-center  mb-3">
                        <div class="d-flex justify-content-end text-center  align-items-center" id="divM">
                            <p class="m-2">تاريخ النهاية</p>
                            <i class="bi bi-calendar2-month-fill fs-4"></i>
                        </div>
                        <p class="text-muted">{{Opportunity.endDate | date : "dd/mm/yyyy"}}</p>
                    </div>
                    <div class="div row  justify-content-end  align-items-center mb-3">
                        <div class="d-flex justify-content-end text-center  align-items-center" id="divM">
                            <p class="m-2">تاريخ البداية</p>
                            <i class="bi bi-calendar2-month-fill fs-4"></i>
                        </div>
                        <p class="text-muted">{{Opportunity.startDate| date : "dd/mm/yyyy"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row card justify-content-center align-items-center mb-4">
        <div class="d-flex justify-content-end align-items-center mb-5 mt-5">
            <i class="bi bi-chat-right-dots-fill fs-3 me-2"></i>
            <h4 class="text-end">التقييمات والتعليقات</h4>
        </div>
        <div class="row justify-content-center align-items-center px-4">
            <app-comment-card></app-comment-card>
            <app-comment-card></app-comment-card>
            <app-comment-card></app-comment-card>
            <app-comment-card></app-comment-card>
        </div>
    </div>
    <div class="row card justify-content-center align-items-center mb-5">
        <div class="d-flex justify-content-end align-items-center mb-3 mt-5">
            <i class="bi bi-chat-right-dots-fill fs-3 me-2"></i>
            <h4 class="text-end">اترك تقييمك</h4>
        </div>
        <p class="text-muted text-end">يمكن للمتطوعين الذين شاركوا في هذه الفرصة فقط ترك تقييم</p>
        <div class="d-flex justify-content-end mb-2">
            <div class="me-2">
                <i class="bi bi-star-fill text-end"></i>
                <i class="bi bi-star-fill text-end"></i>
                <i class="bi bi-star-fill text-end"></i>
                <i class="bi bi-star-fill text-end"></i>
            </div>
            <p class="text-end">اضافة التقييم</p>
        </div>
        <p class="text-end">التعليق</p>
        <div class="form-floating">
            <textarea class="form-control" placeholder="شاركنا تجربتك في هذه الفرصة التطوعية"></textarea>
        </div>
        <div class="row justify-content-start">
            <button class="btn btn-bgcolor2 text-white px-3 py-2 mt-3 mb-5">ارسال التقييم</button>
        </div>
    </div>
</div>