.bgColor{
    background-color: #9333EA;
    color: white;
    width: 180px;
    padding: 10px;
    border-radius: 15px;   
}
.card{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        width: 60%;
}
.s2{
  background-color: #DCFCE7;
    width: 30px;
  height: 30px;
  border-radius: 17px;
  color: #16A34A;
}