<div class="container-fluid bg">
     <div class="container py-5">
        <form class="row mt-5 mb-5 justify-content-center align-items-center">
            <div class="card p-4  mb-4">
                <div class="d-flex justify-content-center align-items-center mb-4">
                    <h4 class="mt-3">تغيير كلمة المرور</h4>
                    <div class="s2 d-flex justify-content-center align-items-center mt-2 ms-2">
                        <i class="bi bi-key-fill"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-end">
                        <label for="passCurrent" class="mb-2"> كلمة المرور الحالية</label>
                        <input type="password" id="passCurrent" placeholder="ادخل كلمة المرور الحالية"
                            class="py-3 form-control text-end">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group text-end">
                        <label for="passNew" class="mb-2">كلمة المرور الجديدة</label>
                        <input type="password" id="passNew" placeholder="ادخل كلمة المرور الجديدة"
                            class="py-3 form-control text-end">
                    </div>
                    <p class="text-muted text-end mt-2">يفضل أن تحتوي على رقم وحرف كبير –8 أحرف على الأقل</p>
                </div>
                <div class="row mt-4">
                    <div class="form-group text-end">
                        <label for="passConfurim" class="mb-2">تأكيد كلمة المرور الجديدة</label>
                        <input type="password" id="passConfurim" placeholder="اعد ادخال كلمة المرور الجديدة"
                            class="py-3 form-control text-end">
                    </div>
                </div>
                <div class="row mt-5 mb-3 ms-1">
                    <button class="btn bgColor" type="submit"> تحديث كلمة المرور
                    </button>
                </div>
            </div>
        </form>
    </div> 


</div>
