<div class="bgColumn row justify-content-between">
    <div class="ms-5 row justify-content-end align-items-center px-4">
        <div class="d-flex flex-row-reverse align-items-center justify-content-start">
            <i class="bi bi-brightness-low-fill fs-2"></i>
            <h5 class="me-2">{{volCertification.title}}</h5>
        </div>
        <div class="d-flex flex-row-reverse align-items-center justify-content-start px-5">
            <i class="bi bi-calendar2-month-fill mb-2 ms-2"></i>
            <p>{{volCertification.issueDate | date:"MMMM d, y"}}</p>
        </div>
        <div class="d-flex flex-row-reverse align-items-center justify-content-start px-5">
            <i class="bi bi-clock-fill  mb-2 ms-2"></i>
            <p>{{volCertification.totalHours}} ساعات تطوعية</p>
        </div>
        <div class="d-flex flex-row-reverse align-items-center justify-content-start px-5">
            <i class="bi bi-bank2 mb-2 ms-2"></i>
            <p>{{volCertification.organizationName}}</p>
        </div>
    </div>
 <button class="download me-5" (click)="downloadCertificateVol()">
  تحميل
  <i class="bi bi-download ms-1"></i>
</button>

</div>