<div class="container py-5">
    <h2 class="text-primary fw-bold text-center mb-4">Our Therapists</h2>
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search by Therapist Specialization..."
                [(ngModel)]="searchTex" (input)="filterBySpecialization(searchTex)">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="border rounded p-4 bg-white me-4">
                <h5 class="fw-bold mb-3 text-primary text-center">Filters</h5>
                <hr class="my-4">
                <div class="mb-3 text-primary">
                    <i class="bi bi-calendar-event me-1"></i>
                    <label class="form-label fw-semibold">Availability</label>
                    <div class="form-check text-black">
                        <input class="form-check-input" type="checkbox" id="today">
                        <label class="form-check-label" for="today">Today</label>
                    </div>
                    <div class="form-check text-black">
                        <input class="form-check-input" type="checkbox" id="online">
                        <label class="form-check-label" for="online">Online</label>
                    </div>
                </div>

                <div class="mb-3 text-primary">
                    <i class="bi bi-calendar-event me-1"></i>
                    <label class="form-label fw-semibold ">Specific date or range</label>
                    <input type="date" class="form-control">
                </div>

                <div class="mb-3 text-primary">
                    <i class="bi bi-boxes me-1"></i>
                    <label class="form-label fw-semibold">Areas of Interest</label>
                    <select class="form-select text-black" [(ngModel)]="selectedSpecialization"
                        (change)="filterBySpecialization2()">
                        <option selected>Select Specialization</option>
                        <option>Cognitive Behavioral</option>
                        <option>Dialectical Behavior</option>
                        <option>Psychodynamic</option>
                        <option>Integrative</option>
                        <option>Humanistic</option>
                    </select>
                </div>

                <div class="mb-3 text-primary">
                    <i class="bi bi-clock-history me-1"></i>
                    <label class="form-label fw-semibold">Duration</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="duration" id="all" checked>
                        <label class="form-check-label text-black" for="all">All</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="duration" id="30min">
                        <label class="form-check-label text-black" for="30min">30 Min</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="duration" id="60min">
                        <label class="form-check-label text-black" for="60min">60 Min</label>
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="allGender" value="All"
                        [(ngModel)]="selectedGender" (change)="filterByGender()" checked>
                    <label class="form-check-label text-black" for="allGender">All</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="Male"
                        [(ngModel)]="selectedGender" (change)="filterByGender()">
                    <label class="form-check-label text-black" for="male">Male</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="Female"
                        [(ngModel)]="selectedGender" (change)="filterByGender()">
                    <label class="form-check-label text-black" for="female">Female</label>
                </div>


                <div class="mb-3 text-primary">
                    <i class="bi bi-star me-1"></i>
                    <label class="form-label fw-semibold">Ratings</label>
                    <div class="d-flex align-items-center">
                    </div>
                </div>

                <div class="mb-3 text-primary">
                    <i class="bi bi-cash me-1"></i>
                    <label class="form-label fw-semibold">Session Fees</label>
                    <input type="range" class="form-range" min="100" max="9000" (input)="filterByPrice()"
                        [(ngModel)]="selectedMaxPrice">
                </div>

                <button class="btn btn-outline-primary w-100 mt-3" (click)="resetFilters()">Reset Filter</button>
            </div>
        </div>

        <!-- Therapists Cards -->
        <div class="col-md-8">
            @if (TherapistFilterList.length == 0) {
            <div>
                <h2 class="text-danger">No results matching your search keywords</h2>
            </div>
            <div class="image-wrapper">
                <img src="/images/cat.png" alt="Penguin" class="penguin-img" />
                <div class="water-effect"></div>
            </div>
            }
            <div class="row">
                @for(myTherapist of TherapistFilterList ; track myTherapist.id)
                {
                <app-therapist-card class="col-6 mt-4" [therapist]="myTherapist"></app-therapist-card>
                }
            </div>
        </div>
    </div>
</div>